.cell {
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.Computer .cell {
    cursor: pointer;
}

.hit {
    background-color: red;
}

.miss {
    background-color: gray;
}

.Player .hit {
    animation-name: hit;
    animation-duration: 1000ms;
}

.Player .miss {
    animation-name: miss;
    animation-duration: 1000ms;
}

.hovered {
    border: 1px dashed black;
}

@keyframes hit {
    0%{
        background-color: black;
    }
    100% {
        background-color: red;
    }
}

@keyframes miss {
    0%{
        background-color: blue;
    }
    100% {
        background-color: gray;
    }
}

