.game-ribbon {
    height: 100px;
    background: #e25555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.banner h2{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}


.banner h2:hover {
    cursor: pointer;
}


