.gameboard-container {
    margin: 20px;
}

.flex {
    display: flex;
}


/* Style numbers, side and bottom tab */

.number {
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-tab .number {
    height: 40px;
    width: 30px;
    align-items: center;
    justify-content: center;
}

.bottom-tab {
    display: flex;
    height: 30px;
}

.bottom-tab .number {
    width: 40px;
}

/* style board's name */
.board-name {
    margin-top: 10px;
}
