.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  height: 90px;
  background: gold;
}

h1 {
  margin-top: 20px;
}
/* style for footer */

footer {
  height: 80px;
  background-color: deepskyblue;
}

footer p {
  margin-top: 10px;
}

svg[data-icon="heart"] {
  color: #e25555;
}


