.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  /*height: 100px;*/
  background: gold;
}


/* style for footer */

footer {
  /*height: 100px;*/
  background: skyblue;
}

svg[data-icon="heart"] {
  color: #e25555;
}


